.footer {
  max-width: 60vw;
  margin: auto;
  justify-content: space-around;
  display: flex;
}
.footer_p1 {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  line-height: 0.4vw;
}
.footer_p2 {
  color: rgb(140, 144, 144);
  font-size: 0.8vw;
  line-height: 0.1vw;
}
.footer_p2:hover {
  color: rgb(210, 216, 216);
  cursor: pointer;
}
